.home .questions {
    margin: 2em;
    margin-bottom: 4em;
    text-align: center;
}

#set-university-text-field {
    width: 100%;
}

#set-university-button-submit {
    margin-top: 1em;
    width: 100%;
    background-color: #2680FF;
    color: white;
}

.footer-nav-bar {
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}