.hamburger-menu {
    font-size: 1.4rem;
    position: absolute; 
	top: 8px; 
	left: 6px; 
    color: #F39237;
}

.profile-image {
    font-size: 1.8em;
}

.header-logo {
    margin-top: 25px;
    margin-bottom: -10px;
    text-align: center;
}

.header-pageName {
    text-align: center;
}