/* Back Icon */
#back-icon-full-page:hover {
    cursor: pointer;
}


/* Header to user who OWNS question */
#notes-to-user {
    text-align: center;
    color: rgb(172, 171, 171);
    font-style: italic;
}

/* Header */

.question-full-page-header {
    text-align: center;
    margin: 25px;
}

.question-full-page-header span {
    font-size: 1.5rem;
    position: absolute; 
	top: 8px; 
	left: 6px; 
    color: #F39237;
}

/* Question Whole Components */
.question-full-page-card {
    margin-left: 1.4em;
    margin-right: 1.4em;
    margin-bottom: 2em;
}

.question-full-page-card-card {
    border-radius: 21px;
}

/* Question Header */
#question-full-title {
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.1em;
}

#question-full-user {
    display: block;
    margin-left: 35px;
    color: #4C4C54;
}

/* Question main */
.question-full-page-card main {
    margin-bottom: 20px;
}

/* Question tags */
.question-full-page-card .tags {
    margin-bottom: 10px;
}

#question-full-tag {
    background-color:orange;
    margin-right: 10px;
    padding: 4px 8px;
    color: white;
    border-radius: 10px;
}

/* Detailed section */
.question-full-page-card .detailed {
    color: #F39237;
    padding: 4px;
    border-bottom: 1px solid #F39237;
}

/* Footer section */
.question-full-page-card .buttons {
    backgroundColor: #F39237;
}

/* Comment */
#comment-full-page-card {
    background-color: #FAFCFF;
    margin: 1.4em;
    border-radius: 21px;
}

#comment-full-page-card-header {
    margin-bottom: 1.3em;
    color: rgb(179, 179, 179);
}